<!-- Blog Start -->
<div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Latest Blog</span>
        </p>
        <h1 class="mb-4">Latest Articles From Blog</h1>
      </div>
      <div class="row pb-3">
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="assets/img/enfants-jouant-herbe_1098-504.avif  "alt="" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">the best children's school</h4>
              <div class="d-flex justify-content-center mb-3">
                <small class="mr-3"
                  ><i class="fa fa-user text-primary"></i> Admin</small
                >
                <small class="mr-3"
                  ><i class="fa fa-folder text-primary"></i> Web Design</small
                >
                <small class="mr-3"
                  ><i class="fa fa-comments text-primary"></i> 23</small
                >
              </div>
              <p>
                She decided to prioritize her education and continue her studies. She decided to put her education first and stay in school...
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="assets/img/blog-2.jpg" alt="" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">Diam amet eos at no eos</h4>
              <div class="d-flex justify-content-center mb-3">
                <small class="mr-3"
                  ><i class="fa fa-user text-primary"></i> Admin</small
                >
                <small class="mr-3"
                  ><i class="fa fa-folder text-primary"></i> Web Design</small
                >
                <small class="mr-3"
                  ><i class="fa fa-comments text-primary"></i> 15</small
                >
              </div>
              <p>
                Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                lorem. Tempor ipsum justo amet stet...
              </p>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="assets/img/blog-3.jpg" alt="" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">the honeyed child in the best school</h4>
              <div class="d-flex justify-content-center mb-3">
                <small class="mr-3"
                  ><i class="fa fa-user text-primary"></i> Admin</small
                >
                <small class="mr-3"
                  ><i class="fa fa-folder text-primary"></i> Google</small
                >
                <small class="mr-3"
                  ><i class="fa fa-comments text-primary"></i>30</small
                >
              </div>
              <p>
                A school is an establishment where individuals called “schoolchildren” or students are welcomed so that teachers...
              </p>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog End -->
