<!-- <div class="card border-0 bg-light shadow-sm pb-2">
    <img class="card-img-top mb-2" [src]="x?.avatar">
    <div class="card-body text-center">
      <h4 class="card-title">{{x?.nom}}</h4>
      <p class="card-text">
      {{x?.discription}}
      </p>
    </div>
    <div class="card-footer bg-transparent py-4 px-5">
      
      <div class="row border-bottom">
        <div class="col-6 py-1 text-right border-right">
          <strong>Total Seats</strong>
        </div>
        <div class="col-6 py-1">{{x?.seat}} Seats</div>
      </div>
      
      <div class="row">
        <div class="col-6 py-1 text-right border-right">
          <strong>Tution Fee</strong>
        </div>
        <div class="col-6 py-1">${{x?.price}} / Month</div>
      </div>
    </div>
    
  </div> -->
  <div class="card border-0 bg-light shadow-sm pb-2">
    <img class="card-img-top mb-2" [src]="x?.avatar">
    <div class="card-body text-center">
      <h4 class="card-title">{{x?.nom}}</h4>
      <p class="card-text">{{x?.discription}}</p>
    </div>
    <div class="card-footer bg-transparent py-4 px-5">
  
      <div class="row border-bottom">
        <div class="col-6 py-1 text-right border-right">
          <strong>Total Seats</strong>
        </div>
        <div class="col-6 py-1">{{x?.seat}} Seats</div>
      </div>
  
      <div class="row">
        <div class="col-6 py-1 text-right border-right">
          <strong>Tution Fee</strong>
        </div>
        <div class="col-6 py-1" [style.color]="x?.price > 0 ? 'red' : 'inherit'">${{x?.price}} / Month</div>
      </div>
    </div>
  </div>
  