<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
      <div class="col-lg-6 text-center text-lg-left">
        <h4 class="text-white mb-4 mt-5 mt-lg-0">Kids Learning Center</h4>
        <h1 class="display-3 font-weight-bold text-white">
          New Approach to Education nationaleis
        </h1>
        <p class="text-white mb-4">
          Education nationaleis a private primary school founded in 1994, located in Riadh Ennaser 1,
        refers to the process of facilitating learning and development in children. It encompasses the formal and informal methods employed to impart knowledge, skills, values, and attitudes to young learners. The goal of education for kids is to nurture their intellectual, social, emotional, and physical growth, preparing them for future challenges and responsibilities.
        </p>
        
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <img class="img-fluid mt-5" src="assets/img/header.png" alt="" />
      </div>
    </div>
  </div>
